.auth-form {
  width: 40rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button {
  background: #1f45af;
  font: inherit;
  color: #ffffff;
  border: 1px solid #1f45af;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px #000000;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
  background: #4a6ac0;
  border-color: #4a6ac0;
}
